/*-----------header------------*/

.back {
    width: 30px;
    height: 30px;
}
.logo {
    width: 162px;
    height: 36px;
}

/*-----------------button------------------*/

.home_btn {
    border-radius: 50px;
    height: 50px;
    width: 218px;
    background: linear-gradient(to right bottom, $colorSecondary, $colorPrimary);
    border: none;
    box-shadow: 2px 2px 2px 2px #e9e9e9;

    span {
        position: relative;
        padding-block: 15px;
        color: white;
        padding-inline: 10px;
    }
}

/*---------------------explain_btn-----------------*/

h2 {
    margin-bottom: 0;
}
.explain_btn_block {
    em {
        display: flex;
        justify-content: center;
        height: 25px;
        width: 25px;
        margin-inline: 5px;
        font-size: 17px;
        font-style: normal;
        background-color: $colorPrimary;
        border-radius: 50%;
        color: white;
        padding-top: 2px;
        margin: 0px;
        margin-inline-end: -10px;
        position: relative;
    }
    .explain_btn {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
        height: 72px;
        border-radius: 15px;
        border: none;
        box-shadow: 2px 2px 2px 2px #e9e9e9;
        width: 100%;
    }
    strong {
        display: flex;
    }
}

/*-------------------------Articles--------------------*/

.article {
    background-color: #FFFFFF;
    height: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px $colorBoxshadowPrimary;
    img {
        object-fit: cover;
        width: 100%;
        height: 75%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .art_txt_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
        .art_txt {
            padding-top: 10px;
        }
            .art_title {
                font-size: 18px;
                font-weight: 700;
            }
            p {
                font-size: 17px;
                margin: 0;
            }
    }
}
.heart_rate {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 25px;
    align-items: center;
    padding-right: 20px;

    i {
        font-size: 25px;
    }

    .fa-regular {
        position: relative;
    }

    .fa-solid {
        position: absolute;
        opacity: 0;
        transition: all 150ms linear;
    }

    .fa-solid:active {
        opacity: 1;
        color: $colorPrimary;
    }
}

/*-----------------menu------------------*/

h3 {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-block: 0;
    padding-top: 30px;
    position: relative;
    margin-top: -30px;
    background: #F6F6F6;
    font-size: 28px;
}
h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-bottom: 10px;
}
h4::before {
    position: absolute;
    width: 40px;
    height: 2px;
    content: "";
} 
h4::before {
    left: 0;
    bottom: 0;
    border-bottom: solid 3px $Greenlight;
}
.menu {
    display: flex;
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 69px;
    align-items: center;
    box-shadow:  0px 4px 15px 0px #000000;
    padding-inline: 15px;
    padding-block: 0;
    justify-content: space-between;
    .card {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 42px;
        font-style: normal;
        font-size: 15px;
        .card_title {
                font-size: 18px;
                overflow: hidden;
            }
        .card_description {
            font-style: normal;
            overflow: hidden
        }
    }
    .price {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 42px;
        padding-inline: 10px
    }
    &:focus, &:active {
        .check {
            margin-right: 0;
        }
    }
    .check {
        @include disflexcenter;
        position: relative;
        width: 59px;
        height: 100%;
        margin-right: -70px;
        border-radius: 0px 15px 15px 0px;
        background: $Greenlight;
        transition: transform 250ms;
        span {
            @include disflexcenter;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background-color: $colorGroundPrimary;
            i {
                border-radius: 50px;
                color: $Greenlight;
            }
        }
        
    }
}