.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #9356dc;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear 2 both;
    position: absolute;
    left: 45%;
    top: 50%;
}

/*-----------header------------*/

.back {
    width: 30px;
    height: 30px;
}
.logo {
    width: 162px;
    height: 36px;
}

/*-----------------button------------------*/

.home_btn {
    border-radius: 50px;
    height: 50px;
    width: 218px;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
    border: none;
    box-shadow: 2px 2px 2px 2px #e9e9e9;
    span {
        display: flex;
        justify-content: center;
        padding-block: 15px;
        color: white;
        padding-inline: 10px;
    }
    &:active,
    &:hover {
        opacity: 0.8;
    }
}
.cmd_btn {
    input {
        color: white;
    }
    &:active,
    &:hover {
        opacity: 0.8;
    }
}

/*---------------------explain_btn-----------------*/

.explain_btn {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    height: 72px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px 2px #e9e9e9;
    width: 300px;
    .numbers {
        position: relative;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        height: 24px;
        width: 24px;
        background: $color-primary;
        color: white;
        font-style: normal;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 18px;
        margin-inline: 15px;
        color: $color-hover-button-primary;
    }
    &:focus,
    &:hover {
        .icon {
            color: $color-primary;
        }
    }
}

/*-------------------------Articles--------------------*/

.article {
    position: relative;
    display: grid;
    grid-template-rows: 75% 25%;
    background-color: #ffffff;
    height: 250px;
    max-width: 490px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px $color-boxshadow-primary;
    a:visited {
        color: $color-new-card;
    }
}
.img_container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    .new {
        @include disflexcenter;
        position: absolute;
        top: 15px;
        right: 15px;
        justify-self: flex-end;
        width: 80px;
        height: 23px;
        font-size: 14px;
        font-weight: 500;
        color: $color-new-card;
        background: $color-tertiary;
    }
    img {
        object-fit: cover;
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        order: -1;
    }
}
.art_txt_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;

    .art_txt {
        display: flex;
        flex-flow: column;
        padding-top: 10px;
    }
    .art_title {
        font-size: 18px;
        font-weight: 700;
    }
    .art_description {
        font-style: normal;
    }
}
.heart_rate {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 25px;
    align-items: center;
    i {
        font-size: 25px;
    }
    .fa-regular {
        position: relative;
    }
    .fa-solid {
        position: absolute;
        opacity: 0;
        transition: all 150ms linear;
    }
    &:hover {
        .fa-solid {
            opacity: 1;
            color: linear-gradient(to right bottom, $color-secondary, $color-primary);
        }
    }
}
.like_check:checked + label {
    .fa-solid {
        opacity: 1;
        color: $color-primary;
    }
}

/*-----------------menu------------------*/

.input_checkbox {
    display: none;
}
.menu {
    display: flex;
    position: relative;
    border-radius: 15px;
    border: none;
    height: 69px;
    align-items: center;
    box-shadow: 0px 4px 15px 0px #000000;
    padding-inline: 15px;
    padding-block: 0;
    justify-content: space-between;
    overflow: hidden;
    animation: 0.2s ease-in-out both 2s showmenu;
    .card {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 42px;
        font-style: normal;
        font-size: 15px;
        .card_title {
            font-size: 18px;
            @include textellipsis;
        }
        .card_description {
            font-style: normal;
            @include textellipsis;
        }
    }
    .price_check {
        position: relative;
        display: flex;
        align-items: center;
        transition: transform 250ms;
        .price {
            display: flex;
            align-items: flex-end;
            height: 42px;
            padding-right: 10px;
            transition: transform 250ms;
        }
        .check {
            @include disflexcenter;
            position: relative;
            width: 60px;
            height: 70px;
            margin-right: -75px;
            background: $color-tertiary;
            transition: transform 250ms;
            i {
                font-size: 20px;
                color: white;
            }
        }
    }
}
.menu_delay1 {
    animation-delay: 1s;
}

.menu_delay2 {
    animation-delay: 1.3s;
}

.menu_delay3 {
    animation-delay: 1.5s;
}
.menu_choice:checked + label {
    .card_title {
        width: 200px;
    }
    .card_description {
        width: 200px;
    }
    .price_check {
        transform: translateX(-60px);
    }
}

/*-----------------Media-queries----------------*/

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .article {
        width: 450px;
    }
}
