.navbar {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    height: 63px;
    .back {
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
    }
    #logo {
        grid-column: 3;
        justify-self: center;
    }
}
.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;

    .fa-location-dot {
        padding-inline-end: 10px;
    }
}