.navbar {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    height: 63px;
    .back {
        @include disflexcenter;
        justify-self: center;
    }
    #logo {
        grid-column: 3;
        justify-self: center;
    }
}