.delay {
    animation: 2s ease 0s normal forwards 1 display;
}

/*-------------------Location-----------------*/

.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: 4px 4px 4px 4px $color-boxshadow-primary;
    .fa-location-dot {
        padding-inline-end: 10px;
    }
    .loca {
        overflow: hidden;
        width: 140px;
        select {
            border: none;
            border-radius: 5px;
            background-color: #eaeaea;
        }
    }
}

/*-------------------Home_block-----------------*/

.home_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 287px;
    background: #F6F6F6;
    &:active {
        opacity: 85%;
    }
    .home_title {
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        width: 315px;
        height: 46px;
        margin-top: 0;
    }
}

/*---------------Explain_block--------------*/

.explain_block {
    padding-inline: 20px;
    background-color: white;
    height: 440px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.explain_btn_block {
    @include disflexcenter;
    flex-flow: column;
    gap: 20px;
}

/*-----------------Articles----------------*/

.article_wrapper {
    width: 490px;
    margin-inline: 15px;
}
.home_wrapper {
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}
.main_block {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.article_block {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-flow: column;
}
.article {
    margin-block: 10px;
}

/*-----------------Media-queries----------------*/

@media all and (min-width: 1024px) {
    .explain_block {
        height: 230px;
    }
    .explain_btn_block {
        flex-flow: wrap;
    }

    .article_wrapper {
        width: 940px;
    }
    .article_block {
        justify-content: space-between;
        flex-flow: wrap;
    }
}
@media all and (min-width: 1440px) {
    .explain_btn_block {
        gap: 77px;
    }
    .article_wrapper {
        width: 1080px;
    }
    .article_block {
        gap: 50px;
    }
}
