body{
    background-color: #F6F6F6;
}
.delay {
    animation: 2s ease 0s normal forwards 1 display;
}
.main_block {
    margin-inline: 15px;
    margin-bottom: 100px;
}

/*-------------------Location-----------------*/

.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;

    .fa-location-dot {
        padding-inline-end: 10px;
    }
    .loca {
        overflow: hidden;
        width: 140px;
        select {
            border: none;
            border-radius: 5px;
            background-color: #EAEAEA;
        }
    }
}

/*-------------------Home_block-----------------*/

.home_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 287px;
    &:active {
        opacity: 85%;
    }
    h1 {
        text-align: center;
        margin-top: 39px;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 700;
        width: 275px;
        height: 68px;
    }
    p {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        width: 315px;
        height: 46px;
        margin-top: 0;

    }
}

/*---------------Explain_block--------------*/
.explain_block {
    padding-inline: 20px;
    background-color: white;
    height: 440px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/*-----------------Articles----------------*/

.article_block {
    display: flex;
    gap: 10px;
    flex-flow: column;
}
h3 {
    font-size: 24px;
    font-weight: 700;
}
.article {
    margin-block: 10px;
}