main {
    margin-inline: 10px;
}

/*--------------------Header_menu--------------*/

header {
    img {
        width: 100%;
    }
    
}

/*--------------------Main_menu--------------*/


h3 {
    display: flex;
    justify-content: space-between;
}
h4 {
    font-size: 16px;
    font-weight: 300;
}