.wrapper {
    display: flex;
    justify-content: center;
}

/*--------------------Header_menu--------------*/

.background {
    overflow: hidden;
    height: 275px;
    .background_img {
        width: 100%;
        position: relative;
    }
}

/*--------------------Main_menu--------------*/

h4 {
    font-family: $Logo_title;
    font-size: 28px;
}
h5 {
    border-bottom: solid;
    width: 34px;
    border-color: $color-tertiary;
}
.menu_title {
    @include disflexcenter;
    gap: 20px;
}
.menu_wrapper {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: -40px;
    background: #F6F6F6;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.art_menu {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-inline: 10px;
    animation: 1s both display;
}

.delay1 {
    animation-delay: 0.5s;
}
/*--------------------CMD_BTN--------------*/

.cmd_btn {
    margin-block: 50px;
    @include disflexcenter;
}

/*--------------------Media_queries--------------*/

@media all and (min-width: 768px) {
    .background_img {
        bottom: 20vh;
    }
    .art_menu {
        width: 634px;
    }
}
@media all and (min-width: 1024px) {
    .background {
        height: 383px;
    }
    .background_img {
        bottom: 30vh;
    }
}
@media all and (min-width: 1440px) {
    .background_img {
        bottom: 55vh;
    }
    .menu_wrapper {
        width: 1055px;
    }
}