.wrapper {
    padding-inline: 15px;
}

/*--------------------Header_menu--------------*/

.background {
    overflow: hidden;
    height: 275px;
    .background_img {
        width: 100%;
        height: 275px;
    }
    .img {
        position: relative;
        height: auto;
        top: -90px;
    }
}

/*--------------------Main_menu--------------*/

.art_menu {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 15px;
    margin-bottom: 20px;
    animation: 1s both display;
}

.delay1 {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1s;
}

.delay3 {
    animation-delay: 1.5s;
}

/*--------------------CMD_BTN--------------*/

.cmd_btn {
    margin-block: 50px;
    @include disflexcenter;
}